[user]
  name = Rui Lopes

[include]
  path = ~/.config/git/personal.config
 
[core]
  editor = nvim
  pager = delta
 
[delta]
  light = false
  features = decorations

[color]
  ui = true

[web]
  browser = firefox-developer-edition

[init]
  defaultBranch = main
 
[commit]
  gpgsign = true
 
[push]
  default = simple
  autoSetupRemote = true

[pull]
  rebase = true

[tag]
  gpgsign = true
 
[log]
  date = auto:human

[url "git@github.com:RuiL1904/"]
  insteadOf = gh:

[url "git@github.com:"]
  insteadOf = ghx:

