:root[inFullscreen] #PersonalToolbar {
 visibility: visible !important;
}

#webrtcIndicator {
  display: none;
}

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}
