[Desktop Entry]
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=sh -c "$HOME/dotfiles/scripts/matlab-startup"
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
