# Rule for when switching to battery
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/rui/.Xauthority" RUN+="/usr/bin/su rui -c '/home/rui/dotfiles/scripts/charging-notify 0'"

# Rule for when switching to AC
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/rui/.Xauthority" RUN+="/usr/bin/su rui -c '/home/rui/dotfiles/scripts/charging-notify 1'"
